* {
  /***
  Put things here that you want to apply to EVERYTHING!!!
  ***/
}
body {
  margin:0px;
}
header {
  backround-color: #cccccc;
  border-bottom: 1px solid black;
  padding:0 10px;
}

#MainContent {
  width:100%;
  padding:0px 10px;
}

ol.alpha {
  list-style:lower-alpha;
}
div.example {

  text-align:center;
  display:grid;

  grid-template-columns: 50% 50%;

}

div.example img {
    width:80%;
}
footer {
  background-color: #cccccc;
  padding: 10px;
}


@media screen and (min-width: 800px) {
  #MainContent {
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns: 75% 25%;

  }
  section {
  }
}
